# Copy this file to “.env” and fill in your real values

VITE_OPENAI_API_KEY=
NODE_ENV=
VITE_API_URL=http://localhost:5000
MONGODB_URI=
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
CLIENT_ORIGIN=http://localhost:3000